html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 5em;
}

footer {
  margin-top: 25px;
  bottom: 0;
  height: 3em;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  background: #54B1D3;
  color: #eee;
  p {
    text-align: right;
  }
}

.top-header {
  width: 100%;
  padding: 20px 0;
  background: #54B1D3;
  color: #eee;

  h1 {
    font-weight: bold;
  }
}

.page-header {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}
